.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  background-color: var(--primary-color);
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.menu-item {
  color: var(--primary-text-color);
}

.menu-item:hover {
  color: var(--secondary-color);
}
